html, body{
    height: 99%;
    background-color: #302e2b;
}

#sidebar{
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 1;
    background-color: #262522;
    top: 0;
    left: 0;
    overflow: hidden;
    text-decoration: none;
}

#sidebar a{
    text-decoration: none;
}

.sidebar-element{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 50px;
    font-size: 18px;
    text-align: left;
    color: white;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sidebar-head{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 170px;
    height: 60px;
    font-size: 30px;
}

.sidebar-element:hover, .sidebar-head:hover{
    background-color: #21201f;
}

.logo{
    padding-left: 10%;
}

.icon{
    padding-left: 9%;
}
